.text-gold {
  color: var(--gold);
}

.social-icons a {
  margin: 0 1rem;
  position: relative;
  transition: all 0.3s;
  text-decoration: none;
}

.social-icons a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--gold);
  transition: width 0.3s;
}

.social-icons a:hover {
  text-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
}
